* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* common css */
.container {
  padding: 130px 230px;
}
.btn {
  font-size: 20px;
  padding: 18px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
/* Header section  Start*/

#header-Section {
  background-image: url("../images/banner/banner3.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hedar-content {
  float: right;
  width: 525px;
  text-align: right;
  color: #fff;
}

.hedar-content > h1 {
  margin-top: 50px;
  font-size: 65px;
  font-weight: 700;
}

.hedar-content > p {
  font-size: 16px;
  line-height: 26px;
  margin: 25px 0;
  padding-left: 50px;
}

.btn-header {
  color: #005fac;
  transition: 0.3s;
}
.btn-header:hover {
  color: #fff;
  background-color: #005fac;
  border: 2px solid #fff;
}

/* Header section End */

/* Skils section start */

#my-skil-section {
  background: linear-gradient(to left, #00b4e9, #a5ccec);
}

.my-skils {
  display: flex;
  justify-content: space-between;
}

.skil-title {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}

.skil {
  width: 400px;
  background-color: #ecf3f8;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.skil img {
  padding-top: 20px;
}

.skil > h3 {
  font-size: 25px;
  color: #626262;
  padding: 15px 0;
}

.skil > p {
  font-size: 18px;
  color: #737373;
  line-height: 30px;
  padding: 10px 20px;
  text-align: justify;
}

.skil:hover {
  transform: scale(1.1);
  box-shadow: 2px 5px 20px #005fac;
}
/* Skils section End */

/* Failures section start */
.failures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failures-img {
  float: left;
}

.failures-content {
  float: right;
  padding: 20px;
}

.failures-content > h2 {
  font-size: 40px;
  font-weight: 700;
  padding: 25px 30px;
  color: #151414;
}

.failures-content > p {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding: 20px 30px;
}

.failures-content > ul li {
  list-style: none;
  padding: 0 30px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #444343;
}

.failures-content li > i {
  color: rgb(68, 244, 82);
  font-size: 18px;
  margin-right: 5px;
}

/* Failures section End */

/* My Plan Section start*/

#my-plan > div {
  padding-top: 0;
}

#my-plan h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
}
.totalPlaning {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.totalPlaning div {
  padding: 10px 10px;
}

.totalPlaning div h3 {
  font-size: 26px;
  padding: 20px 0;
}
.totalPlaning div p {
  font-size: 22px;
  color: #737272;
  padding: 0 15px;
}
/* My Plan Section end*/
